.btn {
    margin: 0;
    padding: 2px 8px;
    border: none;
}

.fade-enter, .fade-appear {
    opacity: 0;
}

.fade-enter-active, .fade-appear-active {
    opacity: 0.5;
    transition: opacity 1s ease-in;
}

.fade-enter-done {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.5;
    transition: opacity 1s ease-in;
}

.fade-exit-done {
    opacity: 0;
}
